body 
{
    background-attachment: fixed;
    background-image: url(https://thumbs.dreamstime.com/b/banner-software-ui-y-desarrollo-para-diferentes-dispositivos-tablero-de-aplicaciones-empresariales-con-gr%C3%A1ficos-datos-anal%C3%ADticos-218245324.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(3, 5, 148, 0.788);
}
body::-webkit-scrollbar-thumb
{
    background: rgba(225, 225, 225, .2);
    border-radius: 10px;
    border-right: 2px solid rgba(6, 10, 224, 0.788);
}
#container
{
    width: 1334px;
    height: auto;
    position: relative;
    top: 10px;
    right: 0;
    left: 10px;

}
.titulo
{
    list-style: none;
    padding: 0;
    background: rgba(72, 7, 177, 0.253);
    width: 90%;
    max-width: 1980px;
    margin: auto;
}
.titulo li a
{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}
.titulo li
{
    display: inline-block;
    text-align: center;

}
.titulo li a:hover
{
    background: rgba(44, 243, 250, 0.342);
    transition: 1s ease-in-out;
}
#a1
{
    width: 600px;
    height: 300px;
    position: relative;
    top: 130px;
}
.des
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}
.des1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#perfil
{
    width: 26%;
    height: 320px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 165px;
    right: 0;
    left: auto;
}
#perfil img
{
    width: 280px;
    height: 250px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;
    left: 35px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 7px 13px 37px rgba(0, 0, 255, 0.781);
    border: 1px solid #1f53c5;
}
.per1
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 0;
    color: rgba(44, 243, 250, 0.466);
}
.per
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: center;
    position: relative;
    top: 5px;
    color: rgba(44, 243, 250, 0.466);
}
#sobre
{
    width: 100%;
    height: 530px;
    position: relative;
    top: 195px;
    background-color: rgba(0, 0, 0, 0.137);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 7px 13px 37px rgba(0, 0, 255, 0.781);
    border: 1px solid #1f53c5;
}
.sobre1
{
    width: 100%;
    height: 50px;
    font-size: 16px;
}
.e1
{
    position: relative;
    top: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parrafo
{
    width: 45%;
    height: 400px;
    margin: 0;
    padding: 0;
}
.parrafo h2
{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgba(225, 225, 225, 0.623);
}
.parrafo p
{
    text-align: justify;
    font-family: sans-serif;
    margin: 1rem;
    font-size: x-large;
    color: rgba(26, 213, 219, 0.342);
}
.tec
{
    width: 51%;
    height: 400px;
    position: absolute;
    top: 75px;
    right: 0;
    left: auto;
    margin: 0;
    padding: 0;
}
.tec h2
{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: rgba(225, 225, 225, 0.623);
}
.im
{
    display: flex;
    width: 100%;
    padding: 0;
}
.im li
{
    width: 100%;
    list-style: none;
}
.im img
{
    width: 220px;
    height: 100px;
}
/*slider*/
.slider
{
    width: 1334px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
    top: 150px;
}
.slider ul
{
    display: flex;
    padding: 0;
    width: 400%;
    animation: canbio 20s infinite alternate linear;
}
.slider li
{
    width: 100%;
    list-style: none;
}
.slider img
{
    width: 1334px;
    height: 550px;
}
@keyframes canbio
{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
    
    100%{margin-left: -400%;}
    120%{margin-left: -400%;}
}
/*animacion*/
.center-outer 
{
    display: table;
    width: 100%;
    height: 110px;
    position: relative;
    top: 140px;
}
    
.center-inner 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
    
    /* Essential CSS - Makes the effect work */
.bubbles 
{
    display: inline-block;
    font-family: arial;
    position: relative;
}
        
.bubbles h1 
{
    position: relative;
    margin: 1em 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    z-index: 2;
}
        
.individual-bubble 
{
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}
#fo
{
    background-color: rgba(0, 0, 0, 0.137);
    width: 50%;
    height: 620px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 7px 13px 37px rgba(0, 0, 255, 0.781);
    border: 1px solid #1f53c5;
    margin: 0;
    padding: 0;
    position: relative;
    top: 130px;
}
#fo h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(225, 225, 225, 0.623);
}
svg
{
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
}
#fo p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0 0 0 50px;
    font-size: 18px;
    color: rgba(26, 213, 219, 0.342);
}
#rindas
{
    width: 48%;
    height: 620px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1791px;
    right: 0;
    left: 685px;
}
#rindas img
{
    width: 100%;
    height: 100%;
}
#portafolio
{
    background-color: lightseagreen;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 150px;
}
#portafolio1
{
    background-color: rgba(0, 0, 0, 0.137);
    width: 100%;
    height: 1490px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    position: relative;
    top: 170px;
}
#icon
{
    background-color: rgba(0, 0, 0, 0.137);
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 190px;
}
.redes
{
    width: 20%;
    height: 55%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;
    left: 100px;
}
.redes h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(225, 225, 225, 0.623);
}
#was
{
    width: 13%;
    height: 25%;
    position: absolute;
    top: 66px;
    right: 0;
    left: 85%;
}
#was ul
{
    display: inline-block;
    margin: 0;
    padding: 0;
}
#was a
{
    color: rgba(250, 250, 250, 0.808);
}
#copering
{
    background-color:rgba(111, 220, 247, 0.514);
    width: auto;
    height: 20%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    position: relative;
    top: 48px;
}
#copering h3
{
    text-align: center;
    position: relative;
    top: 12px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.582);
}
@media screen and (max-width: 540px) {
   body
   {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   } 
}